<div class="container d-flex justify-content-between align-items-center pt-3">
  <h1 class="container">Show</h1>
  <%= link_to 'Back', restaurants_path, class: "btn btn-primary" %>
</div>

<hr>

<div class="container d-flex justify-content-between align-items-center border p2 rounded">
  <%= @restaurant.name %>
  <%= @restaurant.address %>
  <div class="p-1">
    <%= link_to restaurants_path, data: {turbo_method: :delete}, class: "btn btn-danger" do %>
    <i class="fa-solid fa-trash"></i>
    <% end %>
    <%= link_to edit_restaurant_path(@restaurant), class: "btn btn-warning" do %>
    <i class="fa-solid fa-pencil"></i>
    <% end %>
  </div>
</div>
